@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1651450661048-be61eba55f1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1200&q=60");
}

.card{
    background-color: #000000d0;
    color: aliceblue;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: .5em;
    border: none;
    border-radius: 50%;
    outline: none;
    width: 46px;
    height: 46px;
    background: #7c7c7c2b;
    cursor: pointer;
    transition: 0.2s ease-in-out
}

.temp{
    margin-top: 15px;
}

button:hover{
    background: #fff;
}
input.search-bar{
    border: none;
    border-radius: 24px;
    padding: .5em 1em;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 100%;
    width: calc(100% - 100px);
}

.description{
    text-transform: capitalize;
}

.flex{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}